body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.police {
    font-family: 'Poppins', sans-serif;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.no-scrollbar {
    overflow: hidden;
}

.bg-gray-100 {
    background-color: #f3f2f7;
}

.bg-gray-200 {
    background-color: #e2e2e2;
}

.bg-blue-600 {
    background-color: #3694ee;
}

.text-white {
    color: white;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-5xl {
    font-size: 3rem;
}

.leading-relaxed {
    line-height: 1.75;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.rounded-3xl {
    border-radius: 1.5rem;
}

.py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.fixed {
    position: fixed;
}

.flex {
    display: flex;
}

.justify-evenly {
    justify-content: space-evenly;
}

.items-center {
    align-items: center;
}

.space-x-4 > * + * {
    margin-left: 1rem;
}

.opacity-60 {
    opacity: 0.6;
}

.h-9 {
    height: 90px;
}

.inset-x-0 {
    left: 0;
    right: 0;
}

.transform {
    transform: translateZ(0);
}

.rounded-b-full {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

/* Classe pour le contenu textuel */
.content {
    max-width: 60%;
    margin: 0 auto;
}

/* Responsive Design */

/* Pour les petits écrans comme les téléphones */
@media (max-width: 768px) {
    .content {
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .text-5xl {
        font-size: 2rem;
    }

    .text-3xl {
        font-size: 1.25rem;
    }

    .py-24 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .h-9 {
        height: 70px;
    }

    .flex.fixed {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    .space-x-4 {
        space-x: 0;
        flex-direction: column;
        margin: 0.5rem 0;
    }
}

/* Pour les très petits écrans */
@media (max-width: 480px) {
    .text-5xl {
        font-size: 1.75rem;
    }

    .text-3xl {
        font-size: 1rem;
    }

    .py-24 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .h-9 {
        height: 60px;
    }
}
